@import './variables.css';
@import './transition.css';
@import './scrollbar.css';
@import './ui.css';
@import './naive.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    @apply border-border;

    box-sizing: border-box;
    border-style: solid;
    border-width: 0;
  }

  html {
    @apply bg-background text-foreground;

    scroll-behavior: smooth;
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }

  #app,
  body,
  html {
    @apply size-full;
  }

  a,
  a:active,
  a:hover,
  a:link,
  a:visited {
    @apply no-underline;
  }

  ::view-transition-new(root),
  ::view-transition-old(root) {
    @apply animate-none mix-blend-normal;
  }

  ::view-transition-old(root) {
    @apply z-[1];
  }

  ::view-transition-new(root) {
    @apply z-[2147483646];
  }

  html.dark::view-transition-old(root) {
    @apply z-[2147483646];
  }

  html.dark::view-transition-new(root) {
    @apply z-[1];
  }

  input::placeholder,
  textarea::placeholder {
    @apply opacity-100;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply m-0 appearance-none;
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }

  .absolute-full {
    @apply absolute inset-0;
  }

  .fixed-full {
    @apply fixed inset-0;
  }

  .text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .hover-card {
    @apply transition-shadow duration-200 hover:shadow-md;
  }

  /* prevent text selection on key interactive layout areas */
  .app-header-root,
  .tabbar-root,
  .chrome-tab,
  .app-sidebar-root,
  .app-sidebar-brand,
  .app-sidebar-menu {
    user-select: none;
    -webkit-user-select: none;
  }
}

html.invert-mode {
  @apply invert;
}

html.grayscale-mode {
  @apply grayscale;
}

html.theme-switching *,
html.theme-switching *::before,
html.theme-switching *::after {
  transition: none !important;
}
